* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
}

button {
  font-family: inherit;
}

p {
  margin: 0;
}

.colour-generator {
  width: 55rem;
  background-color: #1f2937;
  margin: 0 auto;
}

.colour-block {
  background-color: var(--block-background-color);
}

.scheme-colours {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 500px;
}
